body {
    margin: 0;
 background-repeat: no-repeat;
background-size: cover;
width: 100%;
position: absolute;
top: 0;
left: 0;
z-index: -1;
}
.form-container {
    background: white;
    max-height: 100vh; /* Altura máxima del contenedor blanco */
    overflow-y: auto; /* Agregar scroll vertical si es necesario */
    padding: 60px; /* Añadir un espacio interior para mejorar la apariencia */
    margin-bottom: 30px;
}

:root{
  --colorPrimario: #17A2B8;  
}
.login-container {
    margin-top: 3rem;
    position: relative;
    
}


.bg-white {
    /* Ajusta el ancho de la tarjeta según tus necesidades */
    width: 30rem; /* Ejemplo: ancho de 30rem */
    margin: 0 auto;
    margin-top: 3rem;
     /* Centrar la tarjeta horizontalmente */
}

.loginbg::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.443);
    z-index: -2;
}
/*Estilos del select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid  var(--colorPrimario); /* Agrega el color de borde deseado */
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .4em;
    color: #000000;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 10em;
    height: 3em;
    line-height: 3;
    background: #ffffff;
    overflow: hidden;
    border-radius: .25em;
    margin-left: 2rem;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: var(--colorPrimario);
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: #000000;
    border: 2px solid var(--colorPrimario); /* Reemplaza 'YourDesiredColor' con el color que desees */
}

option{
    border-radius: 5px;
    font-size: 18px;
}

/*Css form*/
.form-container {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
