body {
    margin: 0;
}

.login-container {
    margin-top: 3rem;
    position: relative;
    
}

.loginbg {
    background-repeat: no-repeat;
    background-image: url('/assets/Fondologin.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  
}

.bg-white {
    /* Ajusta el ancho de la tarjeta según tus necesidades */
    width: 30rem; /* Ejemplo: ancho de 30rem */
    margin: 0 auto;
    margin-top: 3rem;
     /* Centrar la tarjeta horizontalmente */
}

.loginbg::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.443);
    z-index: -2;
}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#000000;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    border-color: #23b499;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 10em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;

 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #23b499;
 }